.grid {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-gap: 5vw;
}

@media all and (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(3, 320px);
  }
}

@media all and (max-width: 1220px) {
  .grid {
    grid-template-columns: repeat(2, 320px);
  }
}

@media all and (max-width: 700px) {
  .grid {
    grid-template-columns: 320px;
  }
}