@import "../../../assets/variables";

.buttonCommon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  color: black;
  background-color: $light-gray;
  width: 215px;
  font: $text-button-bold;
  line-height: 30px;
  border-radius: 45px;

  &:hover {
    box-shadow: 4px 3px 6.58px 0.42px rgba(101, 101, 101, 0.23);
  }
}

.plusIcon {
  width: 23px;
}
