.body {
  padding: 20px 18px;
  min-height: 275px;
  height: calc(100% - 43px);
  box-sizing: border-box;
}

.container {
  padding-right: 30px;
  height: 75vh;
}

.stepsButton {
  position: absolute;
  right: 5%;
  top: 93%;
}
