@import "../../assets/variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.body {
  padding: 20px 18px;
  min-height: 275px;
  height: calc(100% - 43px);
  box-sizing: border-box;
}

.bigContainer {
  width: 500px;
}

.arrow {
  width: 40px;
  height: 33px;
  padding: 0 5px;
  transform: scaleX(-1);
}

