@import "../../../assets/variables";

.key {
  font: $text-error-message-semibold;
  font-size: 18px;
  line-height: 30px;
  color: black;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.value {
  font: $text-light;
  line-height: 30px;
}

.container {
  position: relative;
}

.icon {
  width: 17px;
  height: 19px;
}

.button {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}
