@import "../../../assets/variables";

.container {
  display: flex;
  align-items: center;
  background-color: $light-gray;
  border-radius: 5px;
  margin-bottom: 13px;
  padding: 9px 8px;
  width: 100%;
  box-sizing: border-box;
  font: $text-error-message-semibold;
  color: $almost-black;
  position: relative;
  p {
    max-width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.container:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.firstMenu {
  margin-right: 1px;
}

.secondMenu {
  margin-right: 10px;
}

.deleteButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-42%);
  img {
    height: 13px;
  }
}
