@import "./../../../assets/variables";

.loginForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputFields {
  margin-top: 50px;
}

.error {
  margin: 0 auto 25px auto;
  width: 320px;
  transition: opacity .5s ease-in-out;
}

.line {
  width: 65px;
  height: 5px;
  background-color: #007eff;
  margin-top: 12px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.spinner {
  width: 100%;
  opacity: .7;
  position: absolute;
}

.loginButtonContainer {
  position: relative;
}

@media all and (max-width: $tablet-width) {
  .loginForm {
    width: 70%;
  }
}

@media all and (max-width: $mobile-width) {
  .loginForm {
    width: 100%;
  }
}

@media all and (max-width: $small-mobile-width) {
  .error {
    width: 241px;
  }
}
